@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lato:900');
body{
	background-color: gray;
}
header,h1	{
	background: white;
	color: gray;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 36px;
	border: 3px black solid;
	padding: 20px;
}
nav {
	display: block;
	color: white;
	float: left;
	padding-left: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	font-size: 14px;
	background-color: #00008b
	width: 50%;
}
a {
	background-color: #00008b;
	color: white;
	text-decoration: none;
	float: left;
	padding: 20px;
}
.clearfixafter {
	visibility: hidden;
	display: block;
}
a:hover {
	background-color: #aaaaaa;

}
h2{
	font-size: 1.5em
}
#slogan{
	font-family: 'Indie Flower', cursive;
	font-style: bold;
	font-size: 30px;
	text-align: center;
	color: gray;
}
#intro{
	text-align: center;
	padding-top: 20px;
	font-size: 14px;
	font-style: bold;
}
.clearfixafter {
	visibility: hidden;
	display: block;
}
img{
	clear: both;
	float: left;
	border: 2px black solid;
	width: 40%;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;

}
li {
	float: right;
	width: 50%;
	height: 13.5em;
	outline: 3px solid #222;
	text-align: center;
	line-height: 12em;
	color: #000;
	background: 40e0d0;
}
#season {
	background: #00CCCC;
}
#accessories {
	background: #42c8f4;
}
#services {
	float: right;

}
#sizing {
	background: #42a4f4;
}
#blog {
	background: #4e7596;
}

footer{
	text-align: center;
	font-size: 22px;
	clear: both;
	padding: 20px;
	font-style: bold;
}
